@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}
header .high_part {
    flex-basis: 100%;
    height: 81px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    align-items: center;
}
.high_part .logo {
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    cursor: pointer;
}

header .high_part .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    height: 100%;
}
header .high_part .menu input {
    border: none;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 5px;
    width: 151px;
    height: 32px;
}

header .high_part .menu input::placeholder {
    color: #fff;
    padding: 0 10px;
}

header .high_part .menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
header .high_part .menu ul li img {
    margin-left: 5px;
}

header .high_part .logIn {
    display: inline-block;
    font-size: 16px;
}
header .high_part .logIn a {
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
}
header .high_part .logIn a:last-child {
    background-color: #FF7143;
    padding: 12px 32px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

header .low_part, 
.adv_form {
    background-color: #FF7143;
}
header .low_part .contant{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .low_part .contant .description {
    display: flex;
    flex-direction: column;
    text-align: center;
}
header .low_part .contant .description .info h1,
.adv_form .contant .description .info h1 {
    color: #000;
    font-size: 72px;
    font-weight: bold;
}

header .low_part .contant .description .info p {
    color: #000;
    font-size: 18px;
    max-width: 600px;
    margin-top: 27px;
}

header .low_part .contant .description .info .buttons button,
.adv_form .contant .description .info .buttons button {
    border: none;
    padding: 20px 32px;
    font-size: 18px;
    margin-top: 22px;
    border-radius: 10px;
    cursor: pointer;
}
header .low_part .contant .description .info .buttons button:first-child,
.adv_form .contant .description .info .buttons button:first-child {
    color: #fff;
    background-color: #000;
}
header .low_part .contant .description .info .buttons button:last-child,
.adv_form .contant .description .info .buttons button:last-child {
    color: #000;
    background-color: #fff;
    margin-left: 10px;
}

header .low_part .contant .description .viewers,
.adv_form .contant .description .viewers {
    margin-top: 160px;
    text-align: center;
}

header .low_part .contant .description .viewers p:nth-child(2),
.adv_form .contant .description .viewers p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    width: 350px;
    margin: 0 auto;
    margin-top: 42px;
}

header .low_part .contant .description .viewers p:last-child,
.adv_form .contant .description .viewers p:last-child {
    margin-top: 16px;
}
header .low_part .contant .description .viewers p>span,
.adv_form .contant .description .viewers p>span {
    color: rgba(0, 0, 0, 0.6);
}

header .low_part .contant .promo{
    object-fit: cover;
}


.advertising {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    margin-top: 87px;
    max-width: 1280px;
}
.advertising__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}
.advertising__part .description {
    margin-left: 25px;
}



.slider {
    background-color: #000000;
    color: #fff;
    margin: 0 auto;
    margin-top: 87px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.slider .description p:first-child {
    font-size: 50px;
}
.slider .description p:nth-child(2) {
    font-size: 48px;
}
.slider .description .author p:first-child {
    font-size: 27px;
}
.slider .description .author p:last-child {
    font-size: 24px;
}

.dots {
    display: inline;
}

.dots button {
    width: 16px;
    height: 16px;
    border: none;
    background-color: #fff;
}



.landing_pages,
.other_pages {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 97px;
}

.landing_pages .examples,
.other_pages .examples {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.landing_pages .example,
.other_pages .example {
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 10px;
}
.example p {
    padding: 24px 266px 25px 33px;
}

.adv_form {
    width: 100%;
    margin-top: 103px;
}

.adv_form .contant{
    margin-top: 100px;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.adv_form .contant .description .info p{
    max-width: 479px;
    margin: 0 auto;
}

.adv_form form {
    background-color: #fff;
    width: 441px;
    height: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}
.adv_form form span {
    font-size: 32px;
    font-weight: bold;
    margin-left: 40px;
}
.adv_form form label {
    padding: 0 40px;
}
.adv_form form label input {
    padding: 10px;
    margin-top: 12px;
    width: 360px;
}

.adv_form form .checkbox {
    display: flex;
    gap: 10px;
    margin-left: 40px;
}

.adv_form form button {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    padding: 20px 154px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.adv_form form .sending p:last-child {
    text-align: center;
    margin-left: 40px;
    margin-top: 16px;
}

.adv_form form p:last-child>a {
    color: #FF7143;
}

.adv_form .contant .description {
    text-align: center;
}

.adv_form .contant .description .info p {
    color: #000;
    font-size: 18px;
    margin-top: 27px;
}



footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 15px 0px;
}

footer .wrapper{
    width: 1280px;
    margin: 0 auto;
}

footer .wrapper .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
footer .wrapper .logo button {
    color: #000000;
    background-color: #fff;
    font-weight: bold;
    padding: 12px 32px;
    border-radius: 10px;
    cursor: pointer;
}

footer .wrapper .social_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
footer .wrapper .social_info ul {
    display: flex;
}
footer .wrapper .social_info ul li {
    margin-right: 15px;
    list-style-type: none;
    cursor: pointer;
}
footer .wrapper .social_info .social_networks img {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 17px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

footer .wrapper .powered_by {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

footer .wrapper .powered_by .authors {
    display: flex;
    gap: 12px;
}

footer .wrapper .powered_by .authors img {
    cursor: pointer;
}

footer .wrapper .powered_by .authors span {
    cursor: pointer;
    color: #FF7143;
}

footer .wrapper .powered_by p {
    cursor: pointer;
}