@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}
header .high_part {
    flex-basis: 100%;
    height: 81px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    align-items: center;
}
.high_part .logo {
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    cursor: pointer;
}

header .high_part .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    height: 100%;
}
header .high_part .menu input {
    border: none;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 5px;
    width: 151px;
    height: 32px;
}

header .high_part .menu input::placeholder {
    color: #fff;
    padding: 0 10px;
}

header .high_part .menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
header .high_part .menu ul li img {
    margin-left: 5px;
}

header .high_part .logIn {
    display: inline-block;
    font-size: 16px;
}
header .high_part .logIn a {
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
}
header .high_part .logIn a:last-child {
    background-color: #FF7143;
    padding: 12px 32px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

header .low_part, 
.adv_form {
    background-color: #FF7143;
}
header .low_part .contant{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .low_part .contant .description {
    display: flex;
    flex-direction: column;
    text-align: center;
}
header .low_part .contant .description .info h1,
.adv_form .contant .description .info h1 {
    color: #000;
    font-size: 72px;
    font-weight: bold;
}

header .low_part .contant .description .info p {
    color: #000;
    font-size: 18px;
    max-width: 600px;
    margin-top: 27px;
}

header .low_part .contant .description .info .buttons button,
.adv_form .contant .description .info .buttons button {
    border: none;
    padding: 20px 32px;
    font-size: 18px;
    margin-top: 22px;
    border-radius: 10px;
    cursor: pointer;
}
header .low_part .contant .description .info .buttons button:first-child,
.adv_form .contant .description .info .buttons button:first-child {
    color: #fff;
    background-color: #000;
}
header .low_part .contant .description .info .buttons button:last-child,
.adv_form .contant .description .info .buttons button:last-child {
    color: #000;
    background-color: #fff;
    margin-left: 10px;
}

header .low_part .contant .description .viewers,
.adv_form .contant .description .viewers {
    margin-top: 160px;
    text-align: center;
}

header .low_part .contant .description .viewers p:nth-child(2),
.adv_form .contant .description .viewers p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    width: 350px;
    margin: 0 auto;
    margin-top: 42px;
}

header .low_part .contant .description .viewers p:last-child,
.adv_form .contant .description .viewers p:last-child {
    margin-top: 16px;
}
header .low_part .contant .description .viewers p>span,
.adv_form .contant .description .viewers p>span {
    color: rgba(0, 0, 0, 0.6);
}

header .low_part .contant .promo{
    max-width: 100%;
    height: auto;
}


.advertising {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    margin-top: 87px;
    max-width: 1280px;
}
.advertising__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}
.advertising__part .description {
    margin-left: 25px;
}



.slider {
    background-color: #000000;
    color: #fff;
    margin: 0 auto;
    margin-top: 87px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.slider .description p:first-child {
    font-size: 50px;
}
.slider .description p:nth-child(2) {
    font-size: 48px;
}
.slider .description .author p:first-child {
    font-size: 27px;
}
.slider .description .author p:last-child {
    font-size: 24px;
}

.dots {
    display: inline;
}

.dots button {
    width: 16px;
    height: 16px;
    border: none;
    background-color: #fff;
}



.landing_pages,
.other_pages {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 97px;
}

.landing_pages .examples,
.other_pages .examples {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.landing_pages .example,
.other_pages .example {
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 10px;
    cursor: pointer;
}
.landing_pages .example img,
.other_pages .example img {
    height: 374px;
    width: 414px;
    padding: 40px 40px 0 40px;
    background-color: #000;
}
.example p {
    padding: 24px 266px 25px 33px;
}

.adv_form {
    width: 100%;
    margin-top: 103px;
}

.adv_form .contant{
    margin-top: 100px;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.adv_form .contant .description .info p{
    max-width: 479px;
    margin: 0 auto;
}

.adv_form form {
    background-color: #fff;
    width: 441px;
    height: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}
.adv_form form span {
    font-size: 32px;
    font-weight: bold;
    margin-left: 40px;
}
.adv_form form label {
    padding: 0 40px;
}
.adv_form form label input {
    padding: 10px;
    margin-top: 12px;
    width: 360px;
}

.adv_form form .checkbox {
    display: flex;
    gap: 10px;
    margin-left: 40px;
}

.adv_form form button {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    padding: 20px 154px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.adv_form form .sending p:last-child {
    text-align: center;
    margin-left: 40px;
    margin-top: 16px;
}

.adv_form form p:last-child>a {
    color: #FF7143;
}

.adv_form .contant .description {
    text-align: center;
}

.adv_form .contant .description .info p {
    color: #000;
    font-size: 18px;
    margin-top: 27px;
}



footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 15px 0px;
}

footer .wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

footer .wrapper .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
footer .wrapper .logo button {
    color: #000000;
    background-color: #fff;
    font-weight: bold;
    padding: 12px 32px;
    border-radius: 10px;
    cursor: pointer;
}

footer .wrapper .social_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
footer .wrapper .social_info ul {
    display: flex;
}
footer .wrapper .social_info ul li {
    margin-right: 15px;
    list-style-type: none;
    cursor: pointer;
}
footer .wrapper .social_info .social_networks img {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 17px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

footer .wrapper .powered_by {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

footer .wrapper .powered_by .authors {
    display: flex;
    gap: 12px;
}

footer .wrapper .powered_by .authors img {
    cursor: pointer;
}

footer .wrapper .powered_by .authors span {
    cursor: pointer;
    color: #FF7143;
}

footer .wrapper .powered_by p {
    cursor: pointer;
}

@media (max-width: 1300px) {
    .landing_pages .example img,
    .other_pages .example img {
        height: 324px;
        width: 374px;
        padding: 40px 40px 0 40px;
        background-color: #000;
    }
    .example p {
        padding: 24px 200px 25px 33px;
    }

    footer .wrapper{
        padding: 0 20px;
    }

    .adv_form form {
        margin-right: 50px;
    }

header .low_part .contant .description .info h1,
.adv_form .contant .description .info h1 {
    font-size: 50px;
}

header .low_part .contant {
    width: 1000px;
}

header .low_part .contant .description .info p {
    color: #000;
    font-size: 16px;
    max-width: 500px;
}

header .low_part .contant .description .info .buttons button,
.adv_form .contant .description .info .buttons button {
    padding: 15px 15px;
    font-size: 16px;
    margin-top: 20px;
}

header .low_part .contant .description .viewers,
.adv_form .contant .description .viewers {
    margin-top: 100px;
}

header .low_part .contant .description .viewers p:nth-child(2),
.adv_form .contant .description .viewers p:nth-child(2) {
    font-size: 16px;
    max-width: 300px;
    margin-top: 30px;
}

header .low_part .contant .description .viewers p:last-child,
.adv_form .contant .description .viewers p:last-child {
    margin-top: 16px;
}

} 

@media (max-width: 1160px) {
    .landing_pages .example img,
    .other_pages .example img {
        height: 260px;
        width: 300px;
        padding: 40px 40px 0 40px;
        background-color: #000;
    }
    .example p {
        padding: 24px 150px 25px 33px;
    }
    .advertising {
        padding: 0 15px;
    }
} 

@media (max-width: 1000px) {
header .low_part .contant .description .info h1,
.adv_form .contant .description .info h1 {
    font-size: 40px;
}

header .low_part .contant {
    width: 900px;
}

header .low_part .contant .description .viewers,
.adv_form .contant .description .viewers {
    margin-top: 90px;
}

header .low_part .contant .description .viewers p:nth-child(2),
.adv_form .contant .description .viewers p:nth-child(2) {
    font-size: 13px;
    max-width: 270px;
    margin-top: 30px;
}

.promo {
    width: 270px;
    height: auto;
}

.advertising .advertising__part .description h2 {
    font-size: 20px;
}
.advertising .advertising__part .description p {
    font-size: 13px;
}

.slider {
    margin: 0 auto;
    margin-top: 87px;
    max-width: 1280px;
}
    
    .slider .description p:first-child {
        font-size: 35px;
    }
    .slider .description p:nth-child(2) {
        font-size: 32px;
    }
    .slider .description .author p:first-child {
        font-size: 15px;
    }
    .slider .description .author p:last-child {
        font-size: 15px;
    }
    .dots button {
        width: 13px;
        height: 13px;
    }
    .slider img {
        max-width: 320px;
    }
}


@media (max-width: 964px) {
    header .low_part .contant {
        width: 700px;
    }
    .high_part .logo {
        padding: 15px;
    }

    header .high_part .menu input {
        width: 130px;
        height: 32px;
    }
    
    header .high_part .menu ul li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
        font-size: 1.5vw;
    }
    
    header .high_part .logIn {
        display: inline-block;
        font-size: 1.5vw;
    }
    header .high_part .logIn a:last-child {
        padding: 10px 20px;
    }
}


@media (max-width: 869px) {
    header .low_part .contant .description .info h1 {
        font-size: 30px;
    }
    
    header .low_part .contant .description .info p {
        font-size: 13px;
        max-width: 320px;
    }
    
    header .low_part .contant .description .info .buttons button {
        padding: 8px 18px;
        font-size: 13px;
    }    
    header .low_part .contant .description .viewers {
        margin-top: 50px;
    }
    
    header .low_part .contant .description .viewers p:nth-child(2) {
        font-size: 13px;
        width: 300px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    header .low_part .contant .description .viewers p:last-child {
        margin-top: 16px;
    }

    header .low_part .contant {
        max-width: 600px;
    }
    .promo {
        width: 200px;
        
    }
    
    .advertising .advertising__part .description p {
        font-size: 1vw;
    }
    .advertising__part img {
        width: 60px;
        height: auto;
    }
    .adv_form .contant .description {
        margin-left: 30px;
        margin-right: 10px;
    }
    .adv_form .contant .description .info h1 {
        font-size: 30px;
    }

    .adv_form .contant .description .info p {
        font-size: 15px;
        max-width: 350px;
    }

    header .low_part .contant {
        width: 800px;
    }

    .adv_form .contant .description .viewers {
        margin-top: 70px;
    }

    .adv_form form {
        width: 341px;
        height: 455px;
        
    }
    .adv_form form span {
        font-size: 20px;
        margin-left: 30px;
    }
    .adv_form form label {
        padding: 0 30px;
    }
    .adv_form form label input {
        padding: 10px;
        margin-top: 8px;
        width: 280px;
    }
    
    .adv_form form .checkbox {
        margin-left: 30px;
    }
    
    .adv_form form button {
        margin-left: 40px;
        padding: 15px 100px;
    }

}


@media (max-width: 772px) {
    header .low_part .contant {
        width: 500px;
    }
    .high_part .logo img {
        width: 70px;
    }

    header .high_part .menu input {
        width: 100px;
        height: 25px;
    }
    header .high_part .menu input::placeholder {
        font-size: 10px;
    }
    header .high_part .menu ul li img {
        width: 6px;
    }
    header .high_part .menu ul li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
        font-size: 1.3vw;
    }
    
    header .high_part .logIn {
        display: inline-block;
        font-size: 1.2vw;
    }
    header .high_part .logIn img {
        width: 6px;
    }
    header .high_part .logIn a:last-child {
        padding: 5px 10px;
    }


    header .low_part .contant .description .info h1 {
        font-size: 20px;
    }
    
    header .low_part .contant .description .info p {
        font-size: 10px;
        max-width: 250px;
    }
    
    header .low_part .contant .description .info .buttons button {
        padding: 8px 10px;
        font-size: 1.3vw;
    }    
    header .low_part .contant .description .viewers {
        margin-top: 50px;
    }
    header .low_part .contant .description .viewers img {
        width: 80px;
    }
    
    header .low_part .contant .description .viewers p:nth-child(2) {
        font-size: 1.3vw;
        width: 230px;
        margin-top: 7px;
    }
    
    header .low_part .contant .description .viewers p:last-child {
        margin-top: 10px;
        font-size: 10px;
    }

    header .low_part .contant {
        max-width: 600px;
    }
    .promo {
        width: 150px;
    }

    .advertising .advertising__part .description p {
        font-size: 0.9vw;
    }
    .advertising__part img {
        width: 50px;
    }

    
    .slider .description p:first-child {
        font-size: 30px;
    }
    .slider .description p:nth-child(2) {
        font-size: 25px;
    }
    .slider .description .author p:first-child {
        font-size: 15px;
    }
    .slider .description .author p:last-child {
        font-size: 15px;
    }
    
    .dots {
        display: inline;
    }
    .dots button {
        width: 16px;
        height: 16px;
        border: none;
        background-color: #fff;
    }


    .adv_form .contant .description .info h1 {
        font-size: 20px;
    }

    .adv_form .contant .description .info p {
        font-size: 10px;
        max-width: 300px;
    }

    .adv_form .contant .description .info .buttons button {
        padding: 10px 13px;
        font-size: 10px;
        margin-top: 15px;
    }

    .adv_form .contant .description .viewers {
        margin-top: 50px;
    }
    .adv_form .contant .description .viewers img {
        width: 80px;
    }

    .adv_form form {
        width: 280px;
        height: 400px;
        
    }
    .adv_form form span {
        font-size: 15px;
        margin-left: 20px;
    }
    .adv_form form label {
        padding: 0 20px;
    }
    .adv_form form label input {
        padding: 10px;
        margin-top: 8px;
        width: 210px;
    }
    
    .adv_form form .checkbox {
        margin-left: 20px;
    }
    .adv_form form .checkbox p {
        font-size: 13px;
    }

    .adv_form form .sending p:last-child {
        font-size: 13px;
    }
    
    .adv_form form button {
        margin-left: 20px;
        padding: 15px 85px;
        font-size: 10px;
    }

    
    footer  .wrapper .logo img {
        width: 70px;
    }
    footer .wrapper .logo button {
        font-size: 10px;
        padding: 10px 25px;
    }
    footer  .wrapper .social_info ul li {
        font-size: 13px;
    }

    footer .wrapper .social_info .social_networks img {
        padding: 12px;
        width: 35px;
        height: 35px;
    }

    footer .wrapper .powered_by p {
        font-size: 10px;
    }
    footer .wrapper .powered_by .authors img {
        width: 50px;
    }
}


@media (max-width: 621px) {
    .landing_pages .example img, .other_pages .example img {
        height: 160px;
        width: 200px;
        padding: 40px 40px 0 40px;
    }
    .example p {
        padding: 15px 80px 15px 20px;
    }
} 

@media (max-width: 596px) {
    header .high_part .menu ul li {   
        margin-right: 20px;
        font-size: 1.2vw;
    }
    header .high_part .menu ul li img,
    header .high_part .logIn img {
        width: 5px;
    }

    .slider .description p:first-child {
        font-size: 20px;
    }
    .slider .description p:nth-child(2) {
        font-size: 18px;
        padding: 0 4px;
    }
    .slider .description .author p:first-child {
        font-size: 12px;
    }
    .slider .description .author p:last-child {
        font-size: 12px;
    }
    .dots button {
        width: 10px;
        height: 10px;
    }
    .slider img {
        max-width: 220px;
    }
}